/* cart.css */

.cart {
    margin-top: 20px;
  }
  
  .cart-item {
    transition: opacity 300ms, transform 300ms;
  }
  
  .cart-item-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .cart-item-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .cart-item-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .cart-item-exit-active {
    opacity: 0;
    transform: translateY(-20px);
  }
  